<!DOCTYPE html>
<html data-ng-app="demoAppMod">
<head>
    <title>tytułIndex</title>
</head>
<body>
    <!-- PlaceHolder for Views -->
    <div ng-view>
        
    </div>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script>
    var demoApp = angular.module('demoAppMod', []);

    alert(" zaczynam rutowanie :)");
    

    demoApp.config(['$routeProvider', '$locationProvider', function ($routeProvider, $locationProvider){
        $routeProvider.when(
                                '/view2',
                                { controller: 'SimpleController', templateUrl: 'Views/Home/view2' }
                           )
                      .when(
                                'Home/view2',
                                { controller: 'SimpleController', templateUrl: 'Views/Home/view2' }
                                )
                      .otherVise({ redirectTo: 'Views/Home/view2' });
    }])

    alert(" koniec rutowanie :)");

    function SimpleController($scope) {
        $scope.customers = [{ name: 'wicek', city: 'warszawa' },
                            { name: 'franek', city: 'warszawa' },
                            { name: 'walek', city: 'krakow' }];

        $scope.addCustomer = function () {
            $scope.customers.push({
                name: $scope.NewCustomer.name,
                city: $scope.NewCustomer.city,
            })
        };
    }

    demoApp.controller('SimpleController', SimpleController);

    demoApp.config(function ($routeProvider) {
        $routeProvider.when(
                                '/',
                                { controller: 'SimpleController', templateUrl: 'Views/Home/view2.html' }
                           )
                      .when(
                                'Home/view1',
                                { controller: 'SimpleController', templateUrl: 'Views/Home/view1.html' }
                                )
                      .otherVise({ redirectTo: '/' });
        })

</script>    

</body>
</html>